body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/*  Header  */
.header {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
.header__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  margin: 40px 0 0 40px;
}
.header .nav__burger {
  font-size: 25px;
  margin: 40px 40px 0 0;
  cursor: pointer;
}
.header__title {
  margin-top: 280px;
  margin-bottom: 0;
  font-size: 200px;
  line-height: 200px;
}
.header__paragraph {
  font-size: 36px;
  margin-bottom: 30px;
}
.header__button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding: 25px 35px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: all .3s;
}
.header__button:hover {
  background: #ffffff;
  color: #2a2d2e;
}
.header .down__arrow {
  position: absolute;
  bottom: 40px;
  font-size: 30px;
}
.header__nav {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 43, 50, 0.9);
  z-index: 3;
  display: none;
}
.header__nav-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 40px 0 0;
  font-size: 30px;
}
.header__menu {
  list-style: none;
  margin-top: 200px;
}
.header .menu__item {
  margin-bottom: 20px;
}
.header .menu__item a {
  color: #ffffff;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
  transition: all .3s;
}
.header .menu__item a:hover {
  color: #7443ff;
}
.header .menu__social i {
  font-size: 40px;
  margin: 15px;
  transition: all .3s;
}
.header .menu__social i:hover {
  color: #7443ff;
}
/*  About  */
.about button {
  padding: 25px 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2a2d2e;
  background: none;
  border: 1px solid #2a2d2e;
  border-radius: 45px;
  transition: all .3s;
}
.about button:hover {
  background-color: #2a2d2e;
  color: #ffffff;
}
.about__creative {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.about .creative__text {
  margin-left: 150px;
  width: 480px;
}
.about .creative__text--title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 80px;
  line-height: 100px;
}
.about .creative__text--paragraph {
  font-size: 18px;
  line-height: 30px;
  color: #b1b2b2;
  margin-bottom: 40px;
}
.about__video {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 100px;
}
.about .video__text {
  margin-right: 150px;
  width: 480px;
}
.about .video__text--title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 80px;
  line-height: 100px;
}
.about .video__text--paragraph {
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
  color: #b1b2b2;
  margin-bottom: 40px;
}
.about .video__text--paragraph2 {
  width: 100%;
  color: #b1b2b2;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
.about .video__text--button {
  padding: 25px 60px;
}
/*  PORTFOLIO  */
.portfolio {
  padding-bottom: 100px;
}
.portfolio__tabs {
  text-align: center;
}
.portfolio__tabs a {
  color: #b1b2b2;
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  padding-top: 20px;
}
.portfolio__tabs a:hover {
  color: #2a2d2e;
}
.portfolio__images {
  margin: 60px auto 60px;
  max-width: 1200px;
  padding: 0 20px;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-areas: "first first second second" "first first third third" "fourth fifth fifth sixth" "fourth fifth fifth seventh" "eighth eighth ninth ninth" "eighth eighth ninth ninth";
}
.portfolio__image {
  min-height: 300px;
}
.portfolio__image:nth-child(1) {
  background-image: url(../img/portfolio/1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: first;
}
.portfolio__image:nth-child(2) {
  background-image: url(../img/portfolio/2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: second;
}
.portfolio__image:nth-child(3) {
  background-image: url(../img/portfolio/3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: third;
}
.portfolio__image:nth-child(4) {
  background-image: url(../img/portfolio/4.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: fourth;
}
.portfolio__image:nth-child(5) {
  background-image: url(../img/portfolio/5.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: fifth;
}
.portfolio__image:nth-child(6) {
  background-image: url(../img/portfolio/6.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: sixth;
}
.portfolio__image:nth-child(7) {
  background-image: url(../img/portfolio/7.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: seventh;
}
.portfolio__image:nth-child(8) {
  background-image: url(../img/portfolio/8.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: eighth;
}
.portfolio__image:nth-child(9) {
  background-image: url(../img/portfolio/9.jpg);
  background-size: cover;
  background-position: 50% 50%;
  grid-area: ninth;
}
.portfolio__image .image__title {
  position: relative;
  left: 40px;
  bottom: -40px;
}
.portfolio__image .image__title .work__title {
  margin: 0;
}
.portfolio__image .image__title .work__description {
  margin: 0;
}
/*  PRICE  */
.price {
  color: #ffffff;
  text-align: center;
  background-image: url("../img/price-bg.jpg");
  border-bottom: 1px solid #b1b2b2;
}
.price__title {
  font-weight: 700;
  font-size: 80px;
  padding-top: 140px;
  margin-bottom: 0;
}
.price__paragraph {
  margin-top: 0;
  margin-bottom: 100px;
  color: #b1b2b2;
  font-size: 18px;
}
.price__block {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.price .card__img {
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all .3s;
}
.price .card__title {
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}
.price .card__list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.price .card__list-item {
  font-size: 14px;
  padding: 5px 0;
}
.price .card__button {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background: none;
  text-transform: uppercase;
  padding: 20px 45px;
  border: 1px solid #ffffff;
  border-radius: 45px;
  transition: all .3s;
}
.price__card:hover .card__img {
  border: 1px solid #b1b2b2;
}
.price__card:hover .card__button {
  background: #7443ff;
  border: 1px solid #7443ff;
}
/*  KEEP IN TOUCH  */
.touch {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 150px;
  border-bottom: 2px solid #b1b2b2;
  margin: 0 auto;
}
.touch .text__uppertitle {
  text-transform: uppercase;
  border-left: 2px solid #7443ff;
  font-size: 24px;
  font-weight: 700;
  color: #7443ff;
  padding-left: 10px;
}
.touch .text__title {
  width: 300px;
  font-size: 80px;
  margin: 40px 0 0 0;
  font-weight: 700;
}
.touch .text__description {
  font-size: 18px;
  margin-top: 30px;
  width: 400px;
  line-height: 30px;
}
.touch .text__paragraph {
  font-size: 14px;
  margin-top: 30px;
  width: 500px;
  color: #b1b2b2;
}
.touch .touch__form {
  width: 50%;
}
.touch .form {
  padding-top: 40px;
  color: #b1b2b2;
}
.touch .form__block {
  display: flex;
  flex-direction: column-reverse;
}
.touch .form__label {
  display: block;
  width: 100%;
  padding: 10px 0 0;
  margin-top: 30px;
  transition: all .5s;
}
.touch .form__label i {
  float: right;
  font-size: 20px;
}
.touch .form__input,
.touch .form__select {
  width: 100%;
  margin-top: 10px;
  color: #b1b2b2;
  border: none;
  border-bottom: 1px solid #b1b2b2;
  font-size: 15px;
  padding-bottom: 5px;
}
.touch .form__input:focus,
.touch .form__select:focus {
  outline: 0;
  border-bottom: 1px solid #7443ff;
}
.touch .form__input:focus + label,
.touch .form__select:focus + label {
  color: #2a2d2e;
  font-weight: 700;
}
.touch .form__input:focus + label i,
.touch .form__select:focus + label i {
  color: #7443ff;
}
.touch .form__button {
  font-size: 14px;
  font-weight: 700;
  color: #2a2d2e;
  background: none;
  text-transform: uppercase;
  padding: 20px 45px;
  border: 1px solid #2a2d2e;
  border-radius: 45px;
  margin-top: 60px;
  transition: all .3s;
}
.touch .form__button:hover {
  border: 1px solid #7443ff;
  background-color: #7443ff;
  color: #ffffff;
}
.address {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.address__block {
  margin-top: 50px;
}
.address__title {
  font-size: 30px;
  font-weight: 700;
  bottom: 30px;
}
.address__info {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-right: 80px;
}
.social {
  display: flex;
  height: 200px;
  background-image: linear-gradient(to right, #90d8fa 0%, #7958fe 100%);
  text-align: center;
  color: #ffffff;
}
.social__container {
  width: 17%;
  border-right: 1px solid #ffffff;
}
.social__container i {
  margin-top: 80px;
  font-size: 40px;
}
.social__container:hover .social__text {
  display: block;
}
.social__text {
  display: none;
}
.footer {
  max-width: 1200px;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
  color: #b1b2b2;
  padding-bottom: 40px;
  border-bottom: 5px solid #2a2d2e;
}
.footer__copyright {
  margin-top: 30px;
  margin-bottom: 0;
}
.footer__social {
  margin-top: 10px;
}
.footer__social a {
  margin-right: 20px;
  color: #b1b2b2;
  transition: all .3s;
}
.footer__social a:hover {
  color: #7443ff;
}
.footer__subscribe {
  width: 40%;
}
.footer__subscribe .subscribe__title {
  font-weight: 700;
  color: #2a2d2e;
  margin-bottom: 0;
}
.footer__subscribe .form__block {
  display: flex;
  flex-direction: column-reverse;
}
.footer__subscribe .form__block .form__label {
  display: block;
  width: 100%;
  padding: 45px 0 0;
  margin-top: 15px;
  transition: all .5s;
}
.footer__subscribe .form__block .form__label i {
  float: right;
  font-size: 15px;
}
.footer__subscribe .form__block .form__input {
  width: 100%;
  margin-top: 0px;
  color: #b1b2b2;
  border: none;
  border-bottom: 1px solid #b1b2b2;
  font-size: 15px;
  padding-bottom: 5px;
}
.footer__subscribe .form__block .form__input:focus {
  outline: 0;
  border-bottom: 1px solid #7443ff;
}
.footer__subscribe .form__block .form__input:focus + label {
  color: #2a2d2e;
  font-weight: 700;
}
.footer__subscribe .form__block .form__input:focus + label i {
  color: #7443ff;
}
@media screen and (max-width: 1440px) {
  body {
    width: 100%;
  }
  .about h2 {
    font-size: 40px;
  }
  .about img {
    width: 50%;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
  }
  .header__title {
    margin-top: 30%;
  }
  .about {
    text-align: center;
  }
  .about__creative,
  .about__video {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    width: 100%;
  }
  .about .creative__text,
  .about .video__text {
    margin: 40px auto 120px;
    width: 100%;
  }
  .about .video__text {
    order: 0;
  }
  .about .video__image {
    order: 1;
  }
  .about img {
    width: 100%;
    height: 100%;
  }
  .touch,
  .address,
  .footer {
    margin: 30px 30px 0 30px;
  }
  .touch .text__description {
    width: 100%;
  }
  .touch .text__paragraph {
    width: 100%;
  }
  .price {
    padding: 0px 30px 0 30px;
  }
  .price h2,
  .creative__text--title,
  .video__text--title {
    font-size: 50px;
  }
}
@media screen and (max-width: 920px) {
  .header__menu {
    margin-top: 30%;
  }
  .header__menu .menu__item a {
    font-size: 30px;
  }
  .header .menu__social i {
    font-size: 30px;
  }
  .portfolio__images {
    margin: 60px auto 60px;
    max-width: 1200px;
    color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, auto);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: "first" "second" "third" "fourth" "fifth" "sixth" "seventh" "eighth" "ninth";
  }
  .portfolio__tabs a {
    width: 40%;
    margin: 0;
  }
  .touch,
  .address {
    flex-direction: column;
  }
  .touch .touch__form,
  .touch .touch__text {
    width: 100%;
    margin-right: 0;
  }
  .address {
    text-align: center;
    padding-bottom: 80px;
  }
  .address__block {
    margin-top: 20px;
  }
  .address__info {
    margin-right: 0;
  }
  .social {
    height: 100px;
  }
  .social__text {
    margin-top: 5px;
    font-size: 12px;
  }
  .social__container i {
    margin-top: 40px;
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    width: 100%;
  }
  .header__title {
    margin-top: 50%;
    font-size: 50px;
    line-height: 100px;
  }
  .about .creative__text--title,
  .about .video__text--title {
    font-size: 40px;
    line-height: 50px;
  }
  .about .creative__text--paragraph,
  .about .video__text--paragraph {
    font-size: 14px;
  }
  .about .video__text--paragraph2 {
    font-size: 12px;
    padding: 10px;
  }
  .header__paragraph {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .price__block {
    flex-direction: column;
  }
  .price__card {
    margin-bottom: 50px;
  }
  .price__card:nth-child(3) {
    margin-bottom: 0;
  }
  .price .card__title {
    margin: 10px 0;
  }
  .touch .text__title {
    font-size: 30px;
  }
  .touch .text__description {
    font-size: 14px;
  }
  .touch .text__paragraph {
    font-size: 12px;
  }
  .address__title {
    font-size: 20px;
  }
  .address__info {
    font-size: 14px;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }
  .footer__subscribe {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .footer__subscribe .form__block .form__label {
    padding-top: 0;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .footer__social {
    font-size: 12px;
    text-align: center;
  }
}
